:root {
  --text-color: hsl(0, 0%, 9%);
  --text-color-grey: hsl(0, 0%, 73%);
  --bg-color: hsl(0, 0%, 93%);
  --primary: hsl(273, 87%, 80%);
  --primary-active: hsl(273, 87%, 75%);
  --primary-hover: hsl(273, 87%, 85%);
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  border: 0px solid transparent;
  font-family: Roboto, sans-serif;
  line-height: 1.5;
  background-color: var(--bg-color);
  color: var(--text-color);
}

h1,
h2,
h3 {
  line-height: 1.1;
}

h1 {
  font-size: 1.5em;
  margin-bottom: 1.5em;
  margin-top: 2em;
}

a {
  color: var(--primary);
}

a:hover {
  color: var(--primary-hover);
}

a:active {
  color: var(--primary-active);
}

li {
  list-style-type: none;
}

li>a {
  text-decoration: none;
  /*color: hsl(0, 0%, calc(var(--lightness-offset, 0%) + 0%));*/
  color: #808080;
}

ul {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}


p {
  /* font-size: clamp(1rem, 5vw, 1.5rem); */
  max-width: 75ch;
}

p.italic {
  font-style: italic;
}

/*
h1 {
  font-size: clamp(1.75rem, 4vw + 1rem, 3rem);
}
*/

.container-md {
  max-width: 800px;
  margin: 0 auto;
  padding: 2em;
}

.container-sm {
  max-width: 500px;
  margin: 0 auto;
  padding: 2em;
}

/* BUTTONS */

button {
  border-radius: 1em;
  border: none;
  background-color: var(--primary);
  color: var(--text-color);
  padding: 1em 1.5em;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  cursor: pointer;
  font-weight: 700;
}

button:hover {
  background-color: var(--primary-hover);
}

button:active {
  background-color: var(--primary-active);
}

/* HEADER */

header {
  background-color: white;
  border-bottom: hsl(0, 0%, 19%) 1px solid;
}

.header {
  display: flex;
  align-items: center;
  padding: 1.5em;
}

.header .logo {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.header .logo {
  text-decoration: none;
}

.header .logo-name {
  font-size: 2em;
  font-weight: 700;
  color: black;
}

nav {
  flex: 1;
}

.navbar {
  display: flex;
  gap: 2em;
  justify-content: end;
  padding: 1em;
}

.nav-link.active a,
.nav-link a:hover {
  color: black;
  text-decoration: underline;
}



/* POSTS */

.posts {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5em;
}


.card {
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding: 2em;
  width: 100%;
  border: solid thin white;
  background-color: white;
  border-radius: 1em;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.233);
}


.card-author {
  font-size: 1.2em;
  font-weight: 700;
}

.card-header {
  display: flex;
  gap: 1em;
  align-items: center;
}

.card-date {
  font-size: 0.9em;
  color: grey;
  flex: 1;
}

.card-delete {
  background-color: white;
  border-radius: 0;
  box-shadow: none;
  padding: 5px;
}

/* FORM */

label {
  margin-bottom: 0.25em;
  font-size: 1em;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5em;
}

.form-errors {
  color: rgb(216, 83, 83);
  margin-bottom: 1.5em;
  font-weight: bold;

}

.form-success {
  color: rgb(60, 153, 72);
  margin-bottom: 1.5em;
  font-weight: bold;

}

input {
  padding: 0.5em 1em;
  font-size: 16px;
  color: black;
  border-radius: 0.25em;
  border: solid thin grey;
}

textarea {
  padding: 1em;
  font-size: inherit;
  font-family: inherit;
  color: black;
  border-radius: 0.25em;
  border: none;
  background-color: rgb(231, 231, 231);
  resize: vertical;
}

textarea:focus {
  outline: solid thin var(--primary-hover);
}


@media (max-width: 500px) {
  .header {
    flex-direction: column;
  }

  .container-md,
  .container-sm {
    padding: 15px;
  }


  .nav-link {
    font-size: 1.1em;
  }

  .card {
    padding: 1.2em;
  }
}